
.logo {
  height: 50px;
  width: 50px;
  margin:auto;
}
.icon{
  font-size: 20px;
}
.button_prof{
 border-radius: 50%;
 border-color: transparent;
 background-color: transparent;
 height: 50px;
 width: 50px;
}
